.container {
    width: 1200px;
    margin: 0 auto;

}
.user {
    display: block;
    position: relative;
    margin: 10px 0 15px;
}
.author {
    margin-left: 50px;
}
#editing-author {
    width: 40px;
    height: 40px;
    background: url('../img/edit-regular.svg') 50% 50% no-repeat;
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 5px;
}
form {
    width: 100%;
}
.box {
    width: 93%;
    height: 40px;
    border: 2px solid darkblue;
    border-radius: 2px;
    padding-left: 5px;
}
.mess {
    border: 1px solid darkblue;
    border-radius: 3px;
    margin: 15px 0;
    padding: 10px;
}
#follower {
    background: #007bff url('../img/user-plus-solid.svg') 0 50% no-repeat;
    position: absolute;
    top: 0;
    right: 0;
    padding-left: 50px;
}
#btn-add {
    margin-left: 9px;
}
#newPosts {
    border: 2px solid darkcyan;
    margin-top: 10px;
    padding: 0 15px;
}